
@media (min-width: 320px) { 
  
  .container {
    width: 320px;
    margin: 0 auto;
  }

  /* Section introduction */

  .introduction {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 2, .6) url('../img/background.png') no-repeat center;
    height: 540px;
    margin: 0 auto;
  }

  .Logo {
    position: absolute;
    top: 170px;
    left: 71px;
    content: url('../img/Logo.png');
    padding: 171px auto 35px;
  }
  
  .login,
  .signup {
    position: relative;
    top: 20px;
    width: 90px;
    height: 36px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
  }

  .login:hover,
  .signup:hover {
    border: 2px solid #fff;
    border-radius: 20px;
  }

  .introduction_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 170px;
  }

  .red_button {
    top: 20px;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4e50;
    opacity: 1;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 0 auto;
  }
    
  h1 {
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
  }

  .introduction p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0 50px; 
  }

   /* Section Partners*/

  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 69px 0 0;
    text-align: center;
  }

	
 .partners_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    text-align: center;	
	  margin:  0 auto;
  }
  
  .partner_photo {
    position: relative;
    z-index: 0;
  }

  .circle_icon {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(50%);
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1;
  }

   .red_icon {
    background: #ff4e50;
  }

   .yellow_icon {
    background: #ffa507;
  } 

  .green_icon {
    background: #1cd7ad;
  }

  .blue_icon {
    background: #4e73db;
  } 
 
  .circle_icon img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .partner_name {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  .partner_about {
    justify-content: flex-start;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .red_border_button {
    width: 280px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff ;
    opacity: 1;
    color: #ff4e50;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #ff4e50;
    cursor: pointer;
    align-items: center;
    margin: 0 auto 57px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  
  .introduction {
    text-align: center;
    background: rgba(0, 0, 2, .6) url('../img/background_tablet_web.png') no-repeat center;
    height: 700px;
    width: 100%;
  }

  .introduction_header {
    width: 650px;
    height: 45px;
    padding: 38px auto; 
  }

  .Logo {
    position: absolute;
    top: 20px;
    content: url('../img/Logo.png');
  }

  .login,
  .signup {
    position: absolute;
    right: 50px;
  }

  .login {
    right: 140px;
  }

  .introduction_content {
    display: flex;
    justify-content: center;
    padding: 50px 120px 0;
  }
  
  h1 {
    font-size: 52px;
    font-weight: 700;
  }
  
  .introduction p {
    font-size: 24px;
    font-weight: 300;
    padding: 0 auto;
  }

  .red_button {
    width: 226px;
  }
  
  .partners_list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
	align-items: flex-start;
    width: 470px;
  }

  .red_border_button {
    margin: 40px auto;
  }

} 

@media (min-width: 940px) {

  .container {
    width: 940px;
    margin: 0 auto;
  }

  .introduction {
   	background-size: cover;
    width: 100%;
  }
    
  .introduction_header {
    position: relative;
    width: 940px;	
    margin:0 auto;
  }

  .Logo,
  .login,
  .signup {
    padding: 0;
  }

  .introduction_content {
    display: flex;
    width: 600px;
	  margin: 0 auto;
  }

  .partners_list {
    width: 100%;
  }
}