body {
  outline: none;
  width: 900px;
  border: 75px 150px 55px 150px;
  margin: auto;
}

/* <-- Начало css header--> */

header {
width: 900px;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-size-adjust: 0.75;
font-stretch: semi-condensed;
text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  padding-top: 75px;
  margin: 0;
 }

a {
  text-decoration: none;
  color: #626262; 
}

a:hover {
  color: #25b4f5;
}

li.width-L {
  padding-left: auto;
}

li.width-P {
  padding-left: 118px;
}

li.width-M {
  padding-left: 101px;
}

li.width-T {
  padding-left: 91px;
  padding-right: auto;
}

/* <--Конец css header--> */

/* <--Начало css content--> */

div {
  width: 960px;
  margin: 0;
  padding: 0;
}

 .blogpost {
  display: inline-block;
  margin: 0;
  width: 420px;
  padding-right: 56px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  color: #626262;
}

.blogpost figure {
  margin: 0;
  border: 0;
  padding-top: 100px;
  width: 420px;
  height: 280px;
  }

.blogpost:nth-child(n+5) {
  padding-top: 4px;
}
 
figcaption {
 margin: 0;
 padding: 28px 0;
 font-family: 'Ubuntu', sans-serif;
 font-size: 14px;
 font-stretch: ultra-condensed;
 text-align: left;
 color: #b4ad9e;
 }

h1 {
 font-size: 30px;
 font-weight: lighter;
 padding-top: 62px;
 margin: 0;
 }

p {
 margin: 0;
 font-size: 14px;
 line-height: 24px;
 padding-top: 29px;
 padding-bottom: 28px;
 letter-spacing: normal;
}

/* <--Конец css content--> */

/* <--Начало css footer--> */

footer {
  width: 900px;
  margin: 0;
  padding: 20px 373px 70px 357px;
}

button {
  display: block;
  width: 165px;
  height: 60px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  color: #626262; 
  background-color: #ffffff;
  border-color: #626262;
  border-width: 1px;
}
/* <--Конец css footer--> */