
.wrapper {
  margin: 83px 314px 70px 318px;
  max-width: 960px;
  padding: 0;
  outline: none;
}
   

/* <-- Начало css header--> */

header {
display: inline-block;
margin-bottom: 104px;
font-family: 'Playfair Display', serif;
font-size: 14px;
font-size-adjust: 0.75;
font-stretch: semi-condensed;
}

a {
  text-decoration: none;
  color: #626262; 
  text-align: center;
}

a:hover {
  color: #25b4f5;
}

a:first-child {
  margin-left: 163px;
  margin-right: 121px;
}

a:nth-child(3){
  margin-right: 103px;
  margin-left: 95px;
}

/* <--Конец css header--> */

/* <--Начало css content--> */


 .blogpost {
  display: inline-block;
  padding-right: 58px;
  width: 420px;
  height: 280px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  color: #626262;
}

.blogpost figure {
  margin: 0;
}

figcaption {
 margin: 25px auto;
 font-family: 'Ubuntu', sans-serif;
 font-size: 14px;
 font-stretch: ultra-condensed;
 text-align: left;
 color: #b4ad9e;
}

h1 {
 padding-bottom: 7px;
 font-size: 30px;
 line-height: 25px;
 font-weight: lighter;
}

p {
 font-size: 14px;
 line-height: 25px;
 letter-spacing: normal;
}

article:nth-child(n+3) {
  padding-top: 132px;
}

article:nth-child(n+5) {
  padding-top: 140px;
}

/* <--Конец css content--> */

footer {
  padding: 53px 370px 0 358px;
 
}

button {
  display: block;
  width: 165px;
  height: 60px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  color: #626262; 
  background-color: #ffffff;
  border-color: #626262;
  border-width: 1px;
}
